services:

  authentication-service:
    # build:
    #   context: ..
    #   dockerfile: deployment/Authentication.Dockerfile
    image: nexus-authentication-service
    container_name: nexus-auth
    ports:
      - "7001:8080"
    environment:
      - ASPNETCORE_ENVIRONMENT=Production
      - ConnectionStrings__DefaultConnection= <<СТРОКА ПОДКЛЮЧЕНИЯ К БД>>
      - JwtSettings__Secret= <<РАНДОМНЫЙ КЛЮЧ ДЛИННОЙ 32+>>
      - JwtSettings__ExpiryMinutes= <<ВРЕМЯ ДЕЙСТВИЯ ACCESS ТОКЕНА, НАПРИМЕР - 15>>
      - JwtSettings__Issuer= <<ИЗДАТЕЛЬ ТОКЕНА>>
      - JwtSettings__Audience= <<СЛУШАТЕЛЬ ТОКЕНА>> 
      - ServiceUrls__UserManagement= <<IP СЕРВИСА С ПОЛЬЗОВАТЕЛЯМИ>> 
    restart: unless-stopped

  usermanagement-service:
    build:
      context: ..
      dockerfile: deployment/UserManagement.Dockerfile
    image: nexus-usermanagement-service
    container_name: nexus-usermanagement
    ports:
      - "7002:8080"
    environment:
      - ASPNETCORE_ENVIRONMENT=Production
      - ConnectionStrings__DefaultConnection= <<СТРОКА ПОДКЛЮЧЕНИЯ К БД>>
      - JwtSettings__Secret= <<ТОТ ЖЕ КЛЮЧ ДЛИННОЙ 32+>>
      - JwtSettings__Issuer= <<ИЗДАТЕЛЬ ТОКЕНА>>
      - JwtSettings__Audience= <<СЛУШАТЕЛЬ ТОКЕНА>>
    restart: unless-stopped