<div class="auth-page">
    <div class="form-container" [class.wide-mode]="showRecoveryKeys()">
        @if (!showRecoveryKeys()) {
            <p class="title">Смена пароля</p>

            <form [formGroup]="stepSetPasswordForm" (ngSubmit)="onSubmit()" class="login-form">
                <div class="form-field">
                    <label for="password">Новый пароль</label>
                    <input id="newPassword" type="password" name="newPassword" formControlName="newPassword" [class.error]="stepSetPasswordForm.get('newPassword')?.invalid && stepSetPasswordForm.get('newPassword')?.touched"/>
                    @if (stepSetPasswordForm.get('newPassword')?.hasError('required') && stepSetPasswordForm.get('newPassword')?.touched) {
                        <small class="error-message">Пароль должен быть не короче {{ minLengthPassword }} символов</small>
                    }   
                </div>

                @if (errorMessage()) {
                    <small class="error-message">{{errorMessage()}}</small>
                }
                    
                <button type="submit" [disabled]="stepSetPasswordForm.invalid || isLoading()" class="btn-sumbit">{{ isLoading() ? 'Смена..' : 'Сменить'}}</button>
            </form>
        } @else {
            <recovery-keys-list [recoveryKeys]="generatedRecoveryKeys()" (confirmed)="onRecoveryKeysConfirmed()"></recovery-keys-list>
        }

    </div>
</div>