@{
    ViewData["Title"] = "Сброс пароля";
    Layout = "_AuthLayout";
}

<div class="form-container">
	<p class="title">Сброс пароля</p>
	<form class="form">
		<div class="input-group">
			<label for="login">Эл. почта</label>
			<input type="email" name="email" id="email" placeholder="">
		</div>
		<div class="input-group">
			<label for="password">Новый пароль</label>
			<input type="password" name="password" id="password" placeholder="">
		</div>

		<p class="signup" style="color: red; font-size: 17px">
			Имейте ввиду, что про сбросе пароля вы потеряете доступ ко всем зашифрованным данным.
		</p>

		<button>Сбросить и заменить</button>
	</form>
	<p class="signup">
		Уже есть аккаунт?
		<a rel="noopener noreferrer" href="/Account/Login" class="" style="margin-left: 5px;">Войти</a>
	</p>
</div>

@section Scripts{
    <script src="~/js/app.js"></script>
}
