@{
    ViewData["Title"] = "Востановить пароль";
    Layout = "_AuthLayout";
}

<div class="form-container">
	<p class="title">Востановление доступа</p>
	<form class="form">
		<div class="input-group">
			<label for="login">Эл. почта</label>
			<input type="email" name="email" id="email" placeholder="">
		</div>
		<div class="input-group">
			<label for="password">Старый пароль</label>
			<input type="password" name="old-password" id="old-password" placeholder="">
		</div>
		<div class="input-group">
			<label for="password">Новый пароль</label>
			<input type="password" name="new-password" id="new-password" placeholder="">
		</div>
		<button>Восстановить</button>
	</form>
	<p class="signup">
		Не помните пароль?
		<a rel="noopener noreferrer" href="/Account/ResetPassword" class="" style="margin-left: 5px;">Сбросить</a>
	</p>
</div>

@section Scripts{
    <script src="~/js/app.js"></script>
}
